*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  outline: none;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100%;
}

.container {
  height: 100vh;
  margin: 2rem;
  border: 5px black solid;
  display: grid;
  grid-template-rows: repeat(16, 1fr);
  grid-template-columns: repeat(16, 1fr);
}

.container > div {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.hovered {
  background-color: red;
}
